# --- SEGURANÇA  ---
.env
appsettings.Development.json
secrets.json

# --- .NET / C# ---
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.sln.docstates

# --- LOGS (Serilog) ---
logs/
*.log

# --- DOCKER ---
.docker/
pgdata/ 

# --- IDE (VS Code / Visual Studio) ---
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates

# --- SISTEMA ---
.DS_Store
Thumbs.db